{% extends 'base.html' %}
{% load static %}

{% block title %}
    MYBLOG
{% endblock %}

{% block latest %}
{% for latest in latest_posts %}
        <li style="width:">
          <article class="bgded overlay" style="background-image:url('{{ latest.image.url }}'); width: 1000px; height:350px;">
            <p>{{latest.author}}</p>
            <h3 class="heading">{{latest.title}}</h3>
            <p>{{latest.body|truncatechars:200 }}&hellip;</p>
            <footer><a class="btn" href="{{ latest.get_absolute_url }}">Read more</a></footer>
          </article>
        </li>
        {% endfor %}
{% endblock %}


{% block content %}
       {% for post in post_data %}
        <div class="contentPosts" style="width:100%; display:inline-block; justify-content: space-around; position:relative; margin-bottom:20px" >

<!-- <li class="">-->
        <article class="bgded overlay" style="background-image:url('{{ post.image.url }}'); height: 350px; position:relative;">

           <a href="{{ post.get_absolute_url }}" style="text-decoration: none;"><div class="txtwrap" style="height: 100%"><i class="block fa fa-4x"></i>
            <h6 class="heading" style="font-size:22px; color:#ffffff">{{post.title}}</h6>
            <p style="font-size:18px; color:#c9c9c9"">{{post.body|truncatechars:200 }}&hellip;</p>
          </div></a>
          <footer><a href="{{ post.get_absolute_url }}">More &raquo;</a></footer>
        </article>
<!--      </li>-->



</div>

    {% endfor %}

        {% if is_paginated %}
<nav class="pagination">
        <ul>
          <li class="{% if not prev_url %} disabled {% endif %}">
              <a class="btn" href="{{prev_url}}">&laquo; Previous</a></li>
            {% for i in post_data.paginator.page_range %}
                {% if post_data.number == i %}
                <li class="current">
                <a href="?page={{i}}">{{i}}
                </a></li>
                {% elif i > post_data.number|add:-3 and i < post_data.number|add:3 %}
                <li>
                <a class="btn" href="?page={{i}}">{{i}}
                </a></li>
            {% endif %}
            {% endfor %}


          <li class="{% if not next_url %} disabled {% endif %}">
              <a class="btn" href="{{next_url}}">Next &raquo;</a></li>
        </ul>
      </nav>
    {% endif %}

{% endblock %}





